* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  font-family: sans-serif;
  position: relative;
}

.bgimage {
  height: 95vh;
  width: 100%;
  background-image: url(newimg.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
}

.navbar1 span {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.navbar1 {
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 10px 200px;
  font-size: 12px;
  align-items: center;
}

.navbar1 i {
  margin-right: 5px;
}

.topnav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #586e83;
  color: white;
  padding: 0px 200px;
  position: relative;
  z-index: 2;
}

.topnav h1 {
  margin-right: auto;
  font-size: 24px;
}

.topnav a {
  text-decoration: none;
  color: white;
  padding: 30px 10px;
  transition: background-color 0.3s;
}

.topnav a:hover {
  background-color: #46b88e;
}

.topnav a,
.topnav h1 {
  display: inline;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #46b88e;
}

.topnav a.active {
  background-color: #46b88e;
  color: white;
}

.content {
  text-align: center;
  color: #f2f2f2;
  padding: 70px 0px;
}

.content button {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.content button:hover {
  background-color: #46b88e;
}

.cards {
  display: flex;
  padding: 30px 300px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card1 {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 50px 10px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  border: 1px solid rgb(201, 200, 200);
  color: white;
  width: 10%;
}

.card1 img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.card1 p {
  padding: 15px 0px;
  margin-bottom: 10px;
}

.midbox {
  padding: 30px 0px;
  text-align: center;
  color: black;
}

.midbox button {
  color: white;
  background-color: #46b88e;
  border: 1px solid rgb(45, 143, 45);
  padding: 10px;
  font-size: 10px;
  margin: 10px;
}

.midbox p {
  margin-bottom: 20px;
}

.midbox button {
  background-color: #46b88e;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.midbox button:hover {
  background-color: #2d8f2d;
}

.clientsuccess {
  background-color: #e8f3ff;
  padding: 50px 20px;
  text-align: center;
}

.midcard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 30px;
  align-items: center;
  flex-flow: row wrap;
  padding: 10px 200px;
}

.card2 {
  text-align: center;
  width: 25%;
  padding: 20px;
}

.card2 p {
  margin-bottom: 10px;
  color: rgb(81, 81, 141);
  margin-top: 10px;
}

.card2 button {
  color: rgb(81, 81, 141);
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.line {
  padding: 25px;
}

.new {
  border: 1px solid rgb(252, 252, 252);
}


.projects {
  background-color: #cfeaff;
  text-align: center;
  padding: 50px 200px;
}

.projectheading {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.allcards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-flow: row wrap;
  align-items: center;
}

.card3 img {
  width: 100%;
  height: 30vh;
  border-radius: 5px;
  margin-bottom: 10px;
}


.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  background-color: white;
  border-radius: 5px;
  flex: 1;
}

.card3 .content2 {
  text-align: start;
  padding: 5px;
}

.card3 p {
  margin-bottom: 10px;
}

.card3 button {
  background-color: transparent;
  color: #46b88e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.card3 button:hover {
  background-color: #46b88e;
  color: white;
}

.section {
  background-color: #e8f1f8;
  padding: 50px 200px;
  display: flex;
  flex-flow: row wrap;
}

.circle {
  background-color: #586e83;
  color: white;
  border-radius: 50%;
  height: 6vh;
  padding: 15px;
  font-size: 15px;
  display: inline;
}

.section1 {
  width: 28%;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  align-items: center;
}

.section1 h4 {
  color: #586e83;
  margin-bottom: 10px;
}

.section1 p {
  color: #6e6e7f;
  margin-bottom: 10px;
}

.section2 {
  background-color: #ffffff;
  padding: 50px 200px;
  display: flex;
  flex-flow: row wrap;
  gap: 60px;
}

.section1 button {
  background-color: transparent;
  color: #586e83;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.fullsection {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  /* gap: 5px; */
  width: 10%;
}

.section2 img {
  width: 35px;
  height: 40px;
  border-radius: 50%;
}


.section22 {
  width: 15%;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.section22 img {
  width: 35px;
  height: 40px;
  border-radius: 50%;
}

.section3 {
  background-image: url(newimg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 40px 200px;
  text-align: center;
  color: white;
}

.copyright {
  padding: 70px 200px;
  background-color: #536d86;
  color: white;
  text-align: center;
}

.copyright i {
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 10px;
}
@media (max-width: 426px) and  (min-width: 320px){
  .navbar1 {
    padding: 0px;
  }
  .topnav {
    padding: 0;
  }
  .bgimage {
    height: 110vh;
  }
  .content {
    padding: 25px 0px;
}
.card2 {
  width: 50%;
  padding: 10px;
}
.midcard {
  padding: 0px;
}
.line {
  padding: 15px;
}
.projects{
  padding: 0px;
}
.projectheading {
  padding: 15px;
  margin-bottom: 0px;
}
.section {
  padding: 25px 35px; 
  justify-content: center;
  align-items: center;
}
.section1 {
  width: 85%;
  padding: 20px;
}
.section2{
  padding: 10px 10px;
  gap: 40px;
}
.fullsection{
  width: 20%;
}
.section3{
  padding: 20px 10px;
}
.copyright{
  padding: 30px;
}
.cards{
  padding: 20px;
}
.card1{
  padding: 100px 10px;
}
.card1 img {
  width: 30px;
  height: 30px;
}


}